.screen {
}

.fullscreenLoader{
  position: fixed;
  top: 0;
  left: 136px;
  right: 0;
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(8px);
  z-index: 100;
}

.actionBar {
  position: fixed;
  top: 68px;
  left: 160px;
  right: 20px;
  height: 60px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(8px);
}

.title {
  font-size: 20px;
  font-weight: bolder;
}