.backBtnWrapper {
  font-size: 20px;
  font-weight: bolder;
  display: flex;
  align-items: center;
}

.backBtnWrapper * {
  color: rgb(58, 58, 58) !important;
  text-decoration: none;
}

.divider {
  padding: 0 12px;
}

.backBtnWrapper a:hover {
  text-decoration: underline;
}
